* {
    margin: 0%;
}

h1 {
    color: brown;
}

#wel {
    color: aqua;
}

.lan {
    color: blue;
}

.lan,
#wel,
h1 {
    background-color: black;
}
a {
    text-decoration: none;
    padding: 20px;
    
    border: 2px color(red);
}
h1{
    display: inline;
}
a{
    display: none;
}